<div class="hero"></div>
<div class="diagonal-content"></div>
<div class="copy">
      <div class="center">
            <h1>Unleash the Color!</h1>            
      </div>
      <div class="boundary">
            The colors are vibrant, and satisfying! <br/> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </div>
      <div class="center carousel">
            <figure class="icon-cards">
                  <div class="icon-cards__content">
                    <div class="icon-cards__item icon-cards-center"><span class="h1">🙂1</span></div>
                    <div class="icon-cards__item icon-cards-center"><span class="h1">😀3</span></div>
                    <div class="icon-cards__item icon-cards-center"><span class="h1">😊4</span></div>
                    <div class="icon-cards__item icon-cards-center"><span class="h1">😊2</span></div>
                    <div class="icon-cards__item icon-cards-center"><span class="h1">🙂5</span></div>
                    <div class="icon-cards__item icon-cards-center"><span class="h1">😀6</span></div>
                  </div>
                </figure>
      </div>
</div>
